<div class="container">
  <h1 class="mt-5">Voici la page du potin</h1>
  <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title"><%= @gossip.title %></h5>
      <p class="card-text"><%= @gossip.description %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Auteur:</strong> <%= link_to @gossip.user.first_name, user_path(@gossip.user) %></li>
      <li class="list-group-item"><strong>Ville:</strong>   <%= link_to @gossip.user.city.name, city_path(@gossip.user.city) %>
      </li>
      <li class="list-group-item"><strong>Date de création:</strong> <%= @gossip.created_at %></li>
    </ul>
  </div>
</div>

<%= link_to "Modifier le potin", edit_gossip_path(@gossip), class: "btn btn-primary" %>
<%= button_to "Supprimer", gossip_path(@gossip), method: :delete, class: "btn btn-danger" %>

