<div class="container">
  <h1 class="mt-5">Détails de la ville <%= @city.name %></h1>
  
  <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title">Potins écrits par les utilisateurs de <%= @city.name %></h5>
      <ul class="list-group list-group-flush">
        <% @gossips.each do |gossip| %>
          <li class="list-group-item">
            <%= link_to gossip.title, gossip_path(gossip) %>
            <span class="badge bg-primary"><%= gossip.likes.count %> Likes</span> <!-- Afficher le nombre de likes -->
            <% if current_user && !gossip.likes.exists?(user_id: current_user.id) %>
              <%= button_to "Like", like_gossip_path(gossip), method: :post, class: "btn btn-sm btn-primary" %>
            <% elsif current_user && gossip.likes.exists?(user_id: current_user.id) %>
              <%= button_to "Unlike", unlike_gossip_path(gossip), method: :delete, class: "btn btn-sm btn-danger" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
